# Copie este arquivo para .env e ajuste os valores localmente.

NAMESPACE=pspd
MINIKUBE_PROFILE=pspd
GATEWAY_HOST=api.pspd.local
FRONTEND_HOST=frontend.pspd.local

API_TOKEN=troque-este-token
MOCK_CARD_KEY=troque-esta-chave

GHCR_SERVER=ghcr.io
GHCR_SECRET_NAME=ghcr-secret
GHCR_USERNAME=seu-usuario-github
GHCR_TOKEN=seu-token-github-com-read-packages
GHCR_EMAIL=seu-email

AUTHORIZATION_SERVICE_URL=http://authorization-service:8001
ANTIFRAUD_SERVICE_URL=http://antifraud-service:8002
PAYMENT_GATEWAY_URL=http://payment-gateway:8000
FRONTEND_URL=http://frontend:80
